{
  "printWidth": 80,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "embeddedLanguageFormatting": "off"
      }
    },
    {
      "files": "*.css",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "*.js",
      "options": {
        "tabWidth": 2
      }
    },
  ]
}
